.contact-hero {
  background:  linear-gradient(to right, #6a0dad, #b185e3),
              url('images/cont.jpg') center/cover no-repeat;
  min-height: 300px;
}

.violet-text {
  color: #6f42c1;
}

.violet-btn {
  background-color: #6f42c1;
  border: none;
}

.violet-btn:hover {
  background-color: #5a369e;
}

.full-width-section{
    width: 100%;
    padding: 3rem 2rem;
}